@page
@model Viber.Pages.MoodBoardPages.CreateModel
@{
    ViewData["Title"] = "CreateMoodboard";
}

<form method="post">
    <div class="form-group">
        <p2>Moodboard Title</p2>
        <input type="text" asp-for="Moodboard.Title" class="form-control" placeholder="Enter moodboard title">
        <p2>Primary Tag</p2>
        <select asp-for="PrimaryTag" class="form-control">
            <option>Click here to select a primary tag</option>
            @foreach (var primaryTag in Model.PrimaryTags)
            {
                <option value="@primaryTag.PrimaryTagId" >@primaryTag.Name</option>
            }
        </select>
        <input type="hidden" asp-for="Moodboard.UserId" value="@Model.Moodboard.UserId" />
        <button type="submit">
            <a asp-page asp-route-Id="@Model.searchId"></a>
            Continue
        </button>

    </div>
   
</form>


