@page
@model Viber.Pages.MoodBoardPages.CreateModel
@{
    ViewData["Title"] = "CreateMoodboard";
}

<form method="post">
    <div class="form-group">
        <p2>Moodboard Title</p2>
        <input type="text" asp-for="Moodboard.Title" class="form-control" placeholder="Enter moodboard title">
        <p2>Primary Tag</p2>
        <select asp-for="PrimaryTag" class="form-control">
            <option>Click here to select a primary tag</option>
            @foreach (var primaryTag in Model.PrimaryTags)
            {
                <option value="@primaryTag.PrimaryTagId" >@primaryTag.Name</option>
            }
        </select>
        <input type="hidden" asp-for="Moodboard.UserId" value="@Model.Moodboard.UserId" />
        <input type="hidden" asp-for="Moodboard.MoodboardId" value="@Model.Moodboard.MoodboardId" />
    </div>

    <div class="form-group" id="objectContainer"></div> <!-- This will hold the dynamic inputs -->
    <span class="span-left"><button type="button" class="custom-button-submit" onclick="addObject()">Add Object</button></span>
    <span class="span-right"><button type="submit" class="custom-button-submit">Submit</button></span>
    
</form>
<script>
    function addObject() {
        const container = document.getElementById('objectContainer');

        // Create a new div for the container fields
        const div = document.createElement('div');
        div.className = "object";

        // Add the dropdown for 'Type' and the text input for 'Link'
        div.innerHTML = `
            <label>Type:
                <select class="form-control" name="ContainerType[]">
                    <option value="text">Text</option>
                    <option value="image">Image</option>
                    <option value="spotify">Spotify</option>
                    <option value="youtube">YouTube</option>
                </select>
            </label>
            <label>Link:
                <input type="text" class="form-control" name="ContainerText[]">
            </label>
            
        `;

        // Append the new div to the container
        container.appendChild(div);
    }
</script>
