@page
@model Viber.Pages.MoodBoardPages.ViewSubTag

@{
    ViewData["Title"] = "ViewSubTag";
}
@{
    Random rand = new Random();
}
<h4>#@Model.SubTag.Name</h4>

    <div class="square-row">
        @foreach (var mb in Model.Moodboards)
        {
        <a asp-page="/MoodBoardPages/ViewMoodboard" asp-route-Id="@mb.MoodboardId">
            <div class="square" >
                @if (mb.Thumbnail == null)
                {

                    int randNumber = rand.Next(1, 200);

                    <img src="https://picsum.photos/200/300?grayscale=3&random={@randNumber}">
                }
                else
                {
                    <img src="@mb.Thumbnail" />
                }
                <span class="image-text">@mb.Title</span>
            </div>
        </a>
        }
    </div>
