html {
    font-size: 14px;
}

main {
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #C81A23;
}

/*html {
    position: relative;
    min-height: 100%;
    background: linear-gradient(#c78383, #260f05), radial-gradient(circle, transparent, #9d49cc), radial-gradient(1000px at left top, #44356e, #bc86bd);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
}*/
html {
    position: relative;
    min-height: 100%;
    /*background: linear-gradient(rgba(31,31,31,1) 0%, rgba(54,54,54,1) 30%, rgba(31,31,31,1) 90%);*/
    background: linear-gradient(#141413,#262423 30%, #141413 60%);
    background-attachment:fixed;
    background-repeat: no-repeat;
}


body {
    background-color: transparent;
}

.stripes { /*bruges ikke - til farvetest*/
    position: absolute;
    z-index: -100;
    top: 0%;
    left: 0%;
    width: 50px;
    height: 100%;
    background: linear-gradient(#DDB348 0px,#DDB348 50px,#DA3C29 50px,#DA3C29 100px,#C91B24 100px,#C91B24 150px,#971A3C 150px, #971A3C 200px,#601035 200px, #601035 250px, transparent 300px);
}
.stripe-horizontal {
    margin-bottom:40px;
    width:100%; 
    height:12px; 
    border-radius:5px;
    top:auto; 
    left:auto;
    background-image:linear-gradient(90deg,#DDB348,#DA3C29 ,#C91B24 ,#971A3C, #601035);
}
.logo-stripe {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(90deg, #DDB348 0%, transparent 18%,transparent 20%, #DA3C29 20%, transparent 38%, transparent 40%, #C91B24 40%, transparent 58%,transparent 60%, #971A3C 60%, transparent 78%,transparent 80%, #601035 80%,transparent 98%, transparent 100%);
}

.custom-button {
    display:flex;
    max-height: fit-content;
    text-decoration: none;
}

.custom-button span {
    display: block; 
    padding: 0; 
    margin: 0; 
}

.custom-button-submit {
    color: #E2DED7;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    text-decoration: none;
    background-image: linear-gradient(45deg, #DA3C29, #C91B24);
    margin-top: 20px;
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    float: right;
    letter-spacing: 1px;
}

    .custom-button-submit.link {
        color: #585858;
        background: none;
        text-decoration: underline;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        margin-right: 20px;
    }

        .custom-button-submit.link:hover {
            background-image: none;
            text-shadow: none;
            color: ivory;
        }

.custom-button-search {
    float: right;
    color: #E2DED7;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    text-decoration: none;
    background-image: linear-gradient(45deg, #DA3C29, #C91B24);
    padding: 3px 30px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
}

.custom-button-submit:hover {
    background-image: linear-gradient(45deg, #DDB348, #C91B24);
    text-shadow: #D4C6B4 1px 0 7px;
    color: ivory;
}
.custom-button-search:hover {
    background-image: linear-gradient(45deg, #DDB348, #C91B24);
    text-shadow: #D4C6B4 1px 0 7px;
    color: ivory;
}



.form-control {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #1F1917;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    /*background-image: linear-gradient(white, #D4C6B4);
    box-shadow: inset 2px 2px 3px #746A62;*/
    background-image: linear-gradient( white 10%, #D4C6B4);
    box-shadow: inset 1px 1px 3px #746A62;
    padding: 8px 12px;
    display: flex;
}
.form-control.no-pointer{
    pointer-events:none;
}

.dropdown {
    color: white;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    padding: 8px 12px;
    display: flex;
    text-decoration: none;
    background-image: linear-gradient(45deg, #545454, #8a8a8a);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
}

    .dropdown.delete {
        background-image: linear-gradient(45deg, #C91B24,#971A3C);
    }

.dropdown option{
    color:darkslategrey;
}

.form-group {
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}




.search {
    background: none;
    border: none;
    text-align: left;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
    flex-grow: 1;
}

textarea:focus, input:focus{
    outline:none;
}

.search-style {
    display: flex;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #1F1917;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(#DA3C29 12%, white 12%, #b8b8b8);
    box-shadow: inset 1px -1px 3px #746A62;
    padding: 10px 10px;
    margin-top: 10px;
}


.span-left {
    float: left;
}

.span-right {
    float: right;
}

.square {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    border-radius: 5px;
    height: 155px;
    width: 155px;
    min-height: 5%;
    min-height: 5%;
    margin: 8px;
    background-image: linear-gradient(transparent 30%, #1a1a1a );
    box-shadow: inset 0px 0px 1px #0f0f0f, 0 5px 15px #0f0f0f;
}
    .square:hover {
        transform: scale(1.05, 1.05);
        background-image: linear-gradient(transparent, #0f0f0f);
        box-shadow: inset 0px 0px 1px #0f0f0f, 0 5px 20px #0f0f0f;
    }

.square img {
    border-radius:inherit;
    display:flex;
    z-index: -1;
    height: inherit;
    width: inherit;
}

.square-row {
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    padding:1%;

}

.title {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 90px;
    letter-spacing: -7px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.title-frontpage {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 200px;
    letter-spacing: -7px;
    color: white;
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100; /* ved ikke hvorfor den skal have opacity. Den er usynlig hvis man ikke definere det på forhånd*/
    color: #bdbdbd;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        font-size: 15px;
        width: 200px;
        background-color: #DA3C29;
        color: #fff;
        text-align: center;
        margin: 10px;
        padding: 5px 0;
        border-radius: 5px;
        position: absolute;
        z-index: 100;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }


.custom-nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 600;
    top: 50%;
    display: inline-flex;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    position: relative;
    /*color: white;*/
    text-decoration: none;
    /*background-image: linear-gradient(#DDB348, #DA3C29);*/
    background-image: linear-gradient(45deg,#E2DECE 10%, #CDC8BA);
    color: #1F1917;
}
    .custom-nav-link.one {

    }

    .custom-nav-link.two {

    }

    .custom-nav-link:hover {
        background-image: linear-gradient(45deg, white 10%, #D8D4C4);
        color: #1F1917;
    }

    .custom-nav-link:active {
        background-image: linear-gradient(45 deg, #D8D4C4 10%, #9D978A);
    }

    .custom-nav-link.focus {
        background-image: linear-gradient(45deg, #f75845, #DA3C29);
        color: white;
    }
        .custom-nav-link.focus:hover {
            background-image: linear-gradient(45deg, #DDB348, #DA3C29);
            text-shadow: #D4C6B4 1px 0 7px;
            color: white;
        }

    .custom-nav-link:active {
        transform: scale(0.95,0.95);
    }

/*    .custom-nav-link.focus {
        background-image: linear-gradient(#E2DECE 10%, #CDC8BA);
        color: #1F1917;

    }

        .custom-nav-link.focus:hover {
            background-image: linear-gradient(white 10%, #D8D4C4);
        }
        .custom-nav-link.focus:active {
            background-image: linear-gradient(#D8D4C4 10%, #9D978A);
            

        }*/

    


   


.tag {
    color: #DA3C29;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
}

h1 {
    font-family: "Sora", sans-serif;
    font-size: 70px;
    letter-spacing: -7px;
    color: white;
    font-weight: bold;
}

h2 {
    font-family: "Sora", sans-serif;
    color: white;
}


h3 {
    font-family: "Sora", sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: white;
}

h4 {
    color: white;
    font-size: 40px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: normal;
}

.image-text {
    position: absolute;
    color: white;
    margin-left: 5%;
    margin-bottom: 5px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    width: 140px;
    word-wrap: break-word;
}
    .image-text:hover {
        text-shadow: #1F1917 3px 0px;
    }


.subtags-container {
    display: flex;        
    gap: 10px;            
    flex-wrap: wrap;      
}

.subtag-item {
    padding: 5px;      
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 10px; 
}

p {
    color: #bdbdbd;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#p-filter {
    color: #DA3C29;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

#p-underline {
    color: #585858;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-decoration: underline;
}

p2 {
    color: #585858;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
    p2.link {
        color: #585858;
        background: none;
        text-decoration: underline
    }

p3{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

label {
    color: #585858;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #bdbdbd;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }

    .login {
        margin-top: -30px;
    }

    h4{
        margin-bottom:100px;
    }
}

