html {
    font-size: 14px;
}

main {
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #D2B179;
}

html {
    position: relative;
    min-height: 100%;
    background: linear-gradient(#c78383, #260f05), radial-gradient(circle, transparent, #9d49cc), radial-gradient(1000px at left top, #44356e, #bc86bd);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


body {
    background-color: transparent;
}

.custom-button {
    display:flex;
    max-height: fit-content;
    text-decoration: none;
}

.custom-button span {
    display: block; 
    padding: 0; 
    margin: 0; 
}

.custom-button-submit {
    color: #E2DED7;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    text-decoration: none;
    background-image: linear-gradient(#a37b60, #8C583D);
    margin-top: 20px;
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    float: right;
    letter-spacing: 1px;
}

.custom-button-search {
    float: right;
    color: #E2DED7;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    text-decoration: none;
    background-image: linear-gradient(#a37b60, #8C583D);
    padding: 3px 30px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
}

.custom-button-submit:hover {
    background-image: linear-gradient(#b0876b, #996245);
    text-shadow: #D4C6B4 1px 0 7px;
    color: ivory;
}
.custom-button-search:hover {
    background-image: linear-gradient(#b0876b, #996245);
    text-shadow: #D4C6B4 1px 0 7px;
    color: ivory;
}

.form-control {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #5B352E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(white, #fcb69f);
    box-shadow: inset 3px 3px 12px #8c5a82;
    padding: 8px 12px;
    display:flex;
}

.dropdown {
    color: #E2DED7;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    max-height: fit-content;
    padding: 8px 12px;
    display: flex;
    text-decoration: none;
    background-image: linear-gradient(#a37b60, #8C583D);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
}

.dropdown option{
    color:darkslategrey;
}

.form-group {
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}

.search {
    background: none;
    border: none;
    text-align: left;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
    flex-grow:1;
}

textarea:focus, input:focus{
    outline:none;
}

.search-style {
    display: flex;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #5B352E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(white, #fcb69f);
    box-shadow: inset 3px 3px 12px #8c5a82;
    padding: 10px 10px;
    margin-top: 10px;
}


.span-left {
    float:left;
}

.span-right {
    float: right;
}

.square {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    border-radius: 8px;
    height: 155px;
    width: 155px;
    min-height: 5%;
    min-height: 5%;
    margin: 8px;
    background-image: linear-gradient(transparent, #281107);
    box-shadow: inset 0px 0px 6px #281107, 0 5px 10px #3b190a, 0 15px 20px #281107;
}

.square img {
    border-radius:inherit;
    display:flex;
    z-index: -1;
    height: inherit;
    width: inherit;
}

.square-row {
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    padding:1%;

}

.title {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 90px;
    letter-spacing: -7px;
    color: #d4c6b4;
    font-weight: bold;
    text-align: left;
    text-shadow: -3px 0px #a37b60,-5px 0px 5px #75341a,0 0 1em #9F4E7C, 0 0 0.2em #543029;

}

.title-frontpage {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 200px;
    letter-spacing: -7px;
    color: #d4c6b4;
    font-weight: bold;
    text-align: left;
    text-shadow: -3px 0px #a37b60,-5px 0px 5px #75341a,0 0 1em #9F4E7C, 0 0 0.2em #543029;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100; /* ved ikke hvorfor den skal have opacity. Den er usynlig hvis man ikke definere det på forhånd*/
    color: #9c8a72;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        font-size:15px;
        width: 200px;
        background-color: #6D4B69;
        color: #fff;
        text-align: center;
        margin: 10px;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.login {
    display: block;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    text-align: left;
    color: #d4c6b4;
    margin-top: 100px
}
    .login:hover {
        text-shadow: #D4C6B4 1px 0 7px;
        color: ivory;
    }



.tag {
    color: #9c8a72;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top:5px;
}

h1 {
    font-size: 70px;
    letter-spacing: -7px;
    color: #d4c6b4;
    font-weight: bold;
}

h2 {
    color: #d4c6b4;
}


h3 {
    font-size: 20px;
    text-align: right;
    color: #d4c6b4;
}

h4 {
    color: #d4c6b4;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    letter-spacing: -2px;
    font-style: normal;
    text-shadow: -3px 0 4px #75341a, 0px 0px 5px #c4894f ;
}

.image-text {
    position: absolute;
    color: #CBC8C6;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 5px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.subtags-container {
    display: flex;        
    gap: 10px;            
    flex-wrap: wrap;      
}

.subtag-item {
    padding: 5px;      
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 10px; 
}

p {
    color: #9c8a72;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

#p-filter {
    color: #DC9C98;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

#p-underline {
    color: #DC9C98;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-decoration:underline;
}

p2 {
    color: #9c8a72;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

label {
    color: #9c8a72;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }

    .login {
        margin-top: -30px;
    }

    h4{
        margin-bottom:100px;
    }
}

