@page
@model Viber.Pages.HomeModel
@{
}
<div class="container" style="display:flex">


    
            <div class="search-style">
                <input class="search" type="search" placeholder="Search here..."><a href="#" class="custom-button-search"><i class="bi bi-search"></i></a>
            </div>
            

            
            
    </div>
    
  </div>