@page
@using Viber.Models
@model Viber.Pages.HomeModel
@{
}
<div class="container">
    <div class="search-style">
        <input class="search" type="search" placeholder="Search here... e.g. sad, happy, angry"><a href="#" class="custom-button-search"><i class="bi bi-search"></i></a>
    </div>
</div>
<div style="display:flex; margin-left:30px; margin-top:10px">
    <p>Filter by: &nbsp</p><p id="p-filter"> Date, Popularity, Rating</p> @* filtering af søgeresultater implementeres her *@
</div>


@foreach (var tag in Model.PrimaryTags)
{
    <h4>@tag.Name</h4>

    <div class="square-row">
        @if (Model.MoodboardsByTag.ContainsKey(tag.PrimaryTagId))
        {
            var moodboards = Model.MoodboardsByTag[tag.PrimaryTagId];

            foreach (var moodboard in moodboards)
            {
                <a asp-page="/MoodBoardPages/ViewMoodboard" asp-route-Id="@moodboard.MoodboardId">
                    <div class="square" >
                        <img src="@moodboard.Thumbnail" alt="Moodboard Image"/>
                        <div class="image-text">@moodboard.Title</div>
                    </div>
                </a>
                
            }
        }
    </div>
    <div class="subtags-container">
        @if (Model.SubTagsByPrimaryTag.ContainsKey(tag.PrimaryTagId))
        {
            var subtags = Model.SubTagsByPrimaryTag[tag.PrimaryTagId];

            foreach (var subtag in subtags)
            {
                <span class="subtag-item">
                    <p2>#@subtag.Name</p2>
                </span>
            }
        }
    </div>
}
            