@page
@model Viber.Pages.HomeModel
@{
}
<div class="container">
    <div class="search-style">
        <input class="search" type="search" placeholder="Search here... e.g. sad, happy, angry"><a href="#" class="custom-button-search"><i class="bi bi-search"></i></a>
    </div>
</div>
<div style="margin:20px"></div>
<div class="container">
    <h4>Sad</h4>
    <div class="row">
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
    </div>
    <p class="tag">#rain, #clouds, #darkness</p>
    <h4>Happy</h4>
    <div class="row">
        <div class="col">
            <div class="square">
                
                <img src="https://placehold.co/155x155" alt="placeholder" />
                <div class="image-text"> test test test test test</div>
            </div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
        <div class="col">
            <div class="square"></div>
        </div>
    </div>
    <p class="tag">#sun, #smile, #party</p>
</div>           
            