@page
@model Viber.Pages.HomeModel
@{
}
<div class="container">
    <div class="search-style">
        <input class="search" type="search" placeholder="Search here... e.g. sad, happy, angry"><a href="#" class="custom-button-search"><i class="bi bi-search"></i></a>
    </div>
</div>
            
            