@page
@using Viber.Models
@model Viber.Pages.HomeModel
@{
}
<div class="container">
    <div class="search-style">
        <input class="search" type="search" placeholder="Search here... e.g. sad, happy, angry"><a href="#" class="custom-button-search"><i class="bi bi-search"></i></a>
    </div>
</div>
<div style="display:flex; margin-left:30px; margin-top:10px">
    <p>Filter by: &nbsp</p><p id="p-filter"> Date, Popularity, Rating</p> @* filtering af søgeresultater implementeres her *@
</div>

@{
    Random rand = new Random();
}

@foreach (var tag in Model.PrimaryTags)
{

        <h4 style="margin-left:20px; margin-top:20px;margin-bottom:0px;">@tag.Name</h4>

        <div class="square-row">
            @if (Model.MoodboardsByTag.ContainsKey(tag.PrimaryTagId))
            {
                var moodboards = Model.MoodboardsByTag[tag.PrimaryTagId];

                foreach (var moodboard in moodboards)
                {
                    <a asp-page="/MoodBoardPages/ViewMoodboard" asp-route-Id="@moodboard.MoodboardId">
                        <div class="square">
                            @if (moodboard.Thumbnail == null)
                            {

                                int randNumber = rand.Next(1, 200);

                                <img src="https://picsum.photos/200/300?=3&random={@randNumber}">
                            }
                            else
                            {
                                <img src="@moodboard.Thumbnail" />
                            }
                            <span class="image-text">@moodboard.Title</span>
                        </div>
                    </a>
                }
            }
        </div>
        <div class="subtags-container">
            @foreach (var st in Model.SubTags.Where(SubTag => SubTag.PrimaryTagId == tag.PrimaryTagId))
            {
                <span class="subtag-item">
                    <p2>#@st.Name</p2>
                </span>
            }
        </div>
        <div class="stripe-horizontal" style="height:4px; margin-top:30px;"></div> //den passer nok ikke lige ind, men følte at der manglede farve. bliver nok fjernet igen

   
}
            