@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="container" style="margin-top: -50px">
    <div class="row">
        <div class="col-sm">
            <h4>Capture the vibe, share the feeling </h4>
            <p>
                Your go-to platform for creating and sharing moodboards
                that reflect your unique tastes! With Viber,
                you can craft personalized moodboards filled with your favorite music,
                movies, and inspirations, all tagged to help you and others discover the perfect fit for every mood.
                <br /><br />Join our vibrant community, explore new vibes, and let your creativity shine!
            </p>
        </div>
    </div>
</div>