@page
@model Viber.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form>
    <div class="form-group">
        <p2>Username</p2>
        <input type="username" class="form-control" placeholder="Enter username">
    </div>
    <p2>Password</p2>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter password">
    </div>
    <span class="span-right"><button type="submit" class="custom-button-submit">SUBMIT</button></span>
</form>